doctype html
html
  include _header
  body
    .row.full#main
      .large-9.columns#main-img
        img(src="img/20208-1680x1050.jpg")
      .large-3.columns#right-status
    .row.full#foot
      .large-12.columns#info
  include _foot
  
